<div class="s-container">
    <div class="s-container-inner">
        <header class="s-client">
            <div class="s-client-name">{{ client_name }}</div>
            <div class="s-client-uri">
                <a href="{{ client_uri }}">{{ client_domain }}</a>
            </div>
        </header>
        <main>
            <div class="s-message">
                <div class="s-message-key">Message</div>
                <div id="message-text" class="s-message-value">
                    Your password has been successfully updated
                </div>
            </div>
        </main>
    </div>
</div>
